## 7324 Assignment A2 : Regression
##### Name: Thang Nguyen
##### SMU ID: 48689334

### Compare the accuracy of different ML Regression algorithms in predicting the price of housing given a set of features and a final sales price. The models are:
- LinearRegression
- DecisionTreeRegressor
- RandomForestRegressor   [using: RandomForestRegressor(n_estimators = 300 ,  random_state = 0) ]
- Lasso Regression
- Ridge Regression
### Measure: R2, RMSE and Time (before and after the call to fit)

In [27]:
# import libraries 
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor

from sklearn import preprocessing
import pandas as pd
import numpy as np
import time

# other imports ..

In [28]:
### Set up Results Table as a DataFrame to summarizing  results

d = {
    'Model': ['Linear Regression',  'Decision Tree Regressor','Random Forest Regressor','Lasso Regression',  'Ridge Regression'],
    'Details': ['', '', '', 'alpha=', 'alpha=' ],
    'R2': ['-', '-', '-', '-', '-', ],
    'RMSE': ['-', '-', '-', '-', '-'],
    'Time' : ['-', '-', '-', '-', '-'],
   
}
df_results = pd.DataFrame(data=d)

In [29]:
# How to add values to the  results dataframe -- remove in final submission

some_val = 0.84848484

# add value with constrained decimals
df_results.at[1, 'R2'] = "%.4f" % some_val

df_results

                     Model Details      R2 RMSE Time
0        Linear Regression               -    -    -
1  Decision Tree Regressor          0.8485    -    -
2  Random Forest Regressor               -    -    -
3         Lasso Regression  alpha=       -    -    -
4         Ridge Regression  alpha=       -    -    -

##  Part A
Data Wrangling
- Load the data in a2.data.csv into the Jupyter notebook as a Dataframe.
- Remove any rows that have missing data.

In [30]:
car_df = pd.read_csv('../data/7324.a2.cardata.csv')
car_df.info()
car_df.dropna(inplace = True)
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          303 non-null    int64
 1   price         303 non-null    float64
 2   Kms_Driven    302 non-null    float64
 3   fuel          302 non-null    object
 4   seller        303 non-null    object
 5   Transmission  303 non-null    object
 6   Owner         303 non-null    int64
dtypes: float64(2), int64(2), object(3)
memory usage: 16.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 302
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          301 non-null    int64
 1   price         301 non-null    float64
 2   Kms_Driven    301 non-null    float64
 3   fuel          301 non-null    object
 4   seller        301 non-null    object
 5   Transmission  301 non-null    object
 6   Owner         301 non-null    int64
dtypes: float64(2), int64(2), object(3)
memory usage: 18.8+ KB

## Part B
Convert text fields to numeric fields
- Convert text fields to numeric values using with one-hot-encoding or creating an ordinal sequence depending on the data
- Move price to the last column of the dataframe
- Display the first two rows of data using head(2)

In [31]:
car_df.head()

# one-hot fuel
car_df = pd.concat([car_df, pd.get_dummies(car_df['fuel'], prefix = 'fuel_type')], axis = 1)
car_df.drop(['fuel'], axis = 1, inplace = True)
# one-hot seller
car_df = pd.concat([car_df, pd.get_dummies(car_df['seller'], prefix = 'source')], axis = 1)
car_df.drop(['seller'], axis = 1, inplace = True)
# one-hot transmission
car_df = pd.concat([car_df, pd.get_dummies(car_df['Transmission'], prefix = 'transmission')], axis = 1)
car_df.drop(['Transmission'], axis = 1, inplace = True)

car_df.head()

,Year,price,Kms_Driven,Owner,fuel_type_CNG,fuel_type_Diesel,fuel_type_Petrol,source_Dealer,source_Individual,transmission_Automatic,transmission_Manual
0,2014,3.35,27000.0,0,0,0,1,1,0,0,1
1,2013,4.75,43000.0,0,0,1,0,1,0,0,1
3,2017,7.25,6900.0,0,0,0,1,1,0,0,1
4,2011,2.85,5200.0,0,0,0,1,1,0,0,1
5,2014,4.60,42450.0,0,0,1,0,1,0,0,1

## Part C
Measure the accuracy of three different regression models : LinearRegression, DecisionTreeRegression and RandomForestRegression
- Use test_train_split to create training and testing datasets
- Use your results to populate the results dataframe which has been set up for you.
- Use the guide below to adjust the number of decimal places to display the table in your notebook.
- R2 : 4 decimal place accuracy
- RMSE : 0 decimals
- Time : 2 decimal place accuracy

## Part D. Best Alpha Paramters for Ridge and Lasso Regression
### Both Ridge and Lasso regression have alpha parameters. Your job is to find the best alpha parameter for LassoCV and RidgeCV which run the models with the alpha parameters you specify and return the best one as model.alpha_ 
Do a bit of research to find appropriate alpha values to try
There are two ways to specify the list of alpha values:
1.	create a list of values, as in: my_alphas = [0.1, 0.2, 0.3]
2.	use the numpy arrange to generate a list of values, as in arrange(start, end, increment) â€“ an easy way to test multiple values easily

When you determine the best alpha parameters for Lasso and Ridge Regression use these values in part E

## Part E. Use best alpha parameters and compute results for Lasso & Ridge Regression

## Display Final Results Table

### Answer the following questions:
#### 1. Which model takes the most time and why?


#### 2. Did Ridge or Lasso regression show any improvement over Linear Regression?  Why?





####  3.Which technique took the most time? Why?




#### 4. It was recommended that if you received the "Data Conversion" warning listed in the assignment handout, that it can be eliminated by: "changing your y_train parameter to: y_train.values.ravel() "   
#####  What does the ravel() function actually do?