## 7324 Assignment A5 : Logistic Regression vs KMeans
##### Name: Thang Nguyen
##### SMU ID: 48689334

## Imports

In [1]:
# The Classifiers
from sklearn.linear_model import LogisticRegression
from sklearn.cluster import KMeans
# Data Wrangling Tool
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, precision_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# Foundational libraries
import pandas as pd
import numpy as np

## Loading Dataset

In [2]:
diabet_df = pd.read_csv("../data/diabetes.csv")
# check for nulls 
diabet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

## Cleaning Dataset

In [3]:
diabet_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### Seems like zeros may be an issue

In [4]:
for col in diabet_df:
    print(f'{col} min: {diabet_df[col].min()}')

Pregnancies min: 0
Glucose min: 0
BloodPressure min: 0
SkinThickness min: 0
Insulin min: 0
BMI min: 0.0
DiabetesPedigreeFunction min: 0.078
Age min: 21
Outcome min: 0

### Dealing With Zeros
#### Zeros may skew the features in a certain direction
#### We apply the mean of the column for any zero

##### Set: Glucose, BloodPressure, SkinThickness, Insulin, BMI

In [5]:
for col in ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']:
    diabet_df[col] = diabet_df[col].replace(to_replace = 0, value = diabet_df[col].mean())

In [6]:
diabet_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50,1
1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31,0
2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32,1
3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33,1

## Analysis

### Splitting and Scaling

In [7]:
# separate features from target
features = diabet_df.drop('Outcome', axis=1)
target = diabet_df['Outcome']

#### Logistic Regression

In [8]:
lgr_X = features
lgr_y = target

# split data into training and test sets
lgr_X_train, lgr_X_test, lgr_y_train, lgr_y_test = train_test_split(lgr_X, lgr_y, random_state = 50, train_size = 0.7)

In [9]:
# scale features
scaler = StandardScaler()
lgr_X_train_scaled = scaler.fit_transform(lgr_X_train)
lgr_X_test_scaled = scaler.fit_transform(lgr_X_test)

#### K-Means