## 7324 Assignment A4 : Logistic Regression vs SVM
##### Name: Thang Nguyen
##### SMU ID: 48689334

## Imports

In [ ]:
# The Classifiers
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# Data Wrangling Tool
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# Foundational libraries
import pandas as pd
import numpy as np

## Utility Functions

## Loading Dataset

In [ ]:
titanic_df = pd.read_csv("../data/titanic.csv")
# check for nulls 
titanic_df.info()

In [ ]:
# short preview for later scaling
titanic_df.head()

In [ ]:
titanic_df.hist()

## Cleaning Dataset

### Removing features

#### Remove Cabin
##### Data in this column seemed to include two categories in one in terms of Cabin Number
##### and there appeared to be no way of decomposing these rows

In [ ]:
titanic_df.drop('cabin', axis=1, inplace=True)

#### Remove Name
##### Names are unique and may create incorrect correlation

In [ ]:
titanic_df.drop('name', axis=1, inplace=True)

#### Remove Ticket
##### Ticket numbers unique and may create incorrect correlation

In [ ]:
titanic_df.drop('ticket', axis=1, inplace=True)

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.info()

### Fill NAs

#### Age has a lot of NAs so we fill them with the average age

In [ ]:
titanic_df['Age'].fillna(titanic_df['Age'].mean().round(), inplace=True)

#### Embarked has some NAs so we fill them with the most common port

In [ ]:
# finding the most common

In [ ]:
titanic_df["Embarked"].fillna('S', inplace = True)

In [ ]:
# separate features from target
features = titanic_df.drop('survived', axis=1)
target = titanic_df['survived']